body {
	font-family: 'Montserrat', sans-serif;
	background-color: #FEFCFE;
}

/*HEADER*/

.container {
	max-width: 1141px;
	margin: 0 auto;
	margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
	width: 97px;
	height: 30px;
	background-image: url(../img/logo.svg);
}

.header-item {
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 58%;
}

.header-nav {
	display: flex;
	color: #2B3541;
	gap: 58px;
	font-size: 18px;
	scroll-behavior: smooth;
}

.header-nav li {
	list-style-type: none;
}

.header-nav a {
    position: relative;
    text-decoration: none;
	color: #2B3541;
}

.nav-item > ul > li > a:after {
	display: block;
	position: absolute;
	content: "";
	right: 0; 
	width: 0;
	margin-top: 10px; 
	height: 1px; 
	background-color: #2B3541;
	transition: width 0.2s ease-out; 
}

.nav-item > ul > li > a:hover:after,
.nav-item  > ul > li > a:focus:after {
	width: 100%;
}

.network {
	display: flex;
	align-items: center;
	width: 97px;
	height: 30px;
	gap: 27px;
}

.network a {
	padding-left: 4px;
}

.network-in {
	width: 30px;
	height: 30px;
	background-image: url(../img/in.svg);
	transition: 0.5s;
	opacity: 0.8;
}

.network-in:hover {
	transform: scale(1.3);
	opacity: 1;
}

.network-fb {
	width: 30px;
	height: 30px;
	background-image: url(../img/fb.svg);
	transition: 0.5s;
	opacity: 0.8;
}

.network-fb:hover {
	transform: scale(1.3);
	opacity: 1;
}	

/*БАННЕР*/

.wrap {
	margin-top: 18px;
	margin-bottom: 108px;
}

.banner {
	display: flex;
	position: relative;
	width: 59.3vw;
	height: 100%;
	margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.banner-content {
	color: #2B3541;
	max-width: 635px;
	padding-top: 192px;
}

.content-title {
	font-weight: 700;
	font-size: 48px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	line-height: 125%;
	margin-bottom: 20px;
}

.content-title-number {
	display: block;
	text-transform: none;
	font-weight: 400;
	font-size: 40px;
	padding-top: 42px;
	padding-left: 3px;
	line-height: 125%;
}

.content-wrap {
	margin-left: 91px;
}

.content-text {
	font-size: 18px;
	line-height: 150%;
	margin-bottom: 55px;
}

.content-link {
	color: #2B3541;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	letter-spacing: 0.03em;
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px 30px;
	background: #FBF138;
	box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
	transition: 0.2s;
}

.content-link:hover {
	box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
	background: #2B3541;
	color: #FBF138;
	transform: scale(1.2);
}

.content-link:focus {
	box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
	background: #2B3541;
	color: #FBF138;
	transition: 0.2s;
}

.arrow-training {
	width: 52px;
	height: 55px;
	margin-top: 203px;
}

.arrow {
	width: 52px;
	height: 55px;
	background-image: url(../img/arrow.svg);
	transition: 0.3s;
}

.arrow:hover {
	transform: scale(1.1);
}

.visual {
	display: flex;
    gap: 20px;
    max-width: 790px;
    width: 50vw;
    position: absolute;
    right: -60px;
    height: 100%;
    z-index: -10;
}

.visual-first-line {
	background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, .45) 145.23%);
	opacity: .2;
	height: 100%;
	flex-basis: 70%;
}

.visual-second-line {
	background: linear-gradient(90deg, #FDF9B6 0%, rgba(253, 249, 182, 0.7) 166.81%);
    opacity: .2;
    height: 100%;
    flex-basis: 30%
}

.visual-image {
	position: absolute;
	bottom: 0;
	right: -100px;
	width: 124%;
}

/*БЛИЖАЙШИЕ СОБЫТИЯ*/

.main-body {
	color: #2B3541;
	padding-top: 20px;
	margin-bottom: 107px;
}

.main-container {
    max-width: 1143px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

h2  {
	font-weight: 700;
	color: #2B3541;
	font-size: 40px;
	line-height: 125%;
	margin-bottom: 39px;
}

h3 {
	font-weight: 700;
	font-size: 28px;
	line-height: 125%;
}

.menu-events {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.wraper-events {
	width: 100%;
	height: 600px;
}

.menu-events-info {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
}

.date-event {
	position: absolute;
	opacity: 0.6;
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
	padding: 0px 30px;
}

.menu-events-info > h3 {
	margin-bottom: 18px;
	padding: 21px 30px;
	z-index: 1;
}

.menu-events-one {
	background-image: url(../img/events/event1.png);
	position: relative;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	width: 100%;
	height: 600px;
    overflow: hidden;
}

.menu-events-two {
	background-image: url(../img/events/event2.png);
	position: relative;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	width: 100%;
	height: 600px;
    overflow: hidden;
}

.menu-events-three {
	background-image: url(../img/events/event3.png);
	position: relative;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	width: 100%;
	height: 600px;
    overflow: hidden;
}

.menu-events-btn {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 126px;
	height: 47px;
	background: #FBF138;
	transition: .2s linear;
}

.menu-events-modile-btn {
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	background-image: url(../img/add.svg);
}

.menu-events-btn span {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	padding: 10px 20px;
	font-size: 18px;
	line-height: 150%;
}

.menu-events-info-btn {
	display: block;
	position: absolute;
	margin-left: 30px;
	padding: 20px 2px 20px;
	width: 221px;
	color: #FBF138;
	background: #2B3541;
	box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.03em;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	opacity: 0;
	transition: .2s linear;
}

.event-gradient-fone {
	display: block;
	position: absolute;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.1) 100%);
	width: 100%;
	height: 600px;
    opacity: 0;
    transition: .2s linear;
}

.wraper-events:hover > .menu-events-btn {
	transition: .2s linear;
	opacity: 0;
}

.wraper-events:hover > .event-gradient-fone {
	transition: .2s linear;
	opacity: 0.4;
}

.wraper-events:hover > .menu-events-info-btn {
	transition: .2s linear;
	opacity: 1;
}

/*РАСПИСАНИЕ ТРЕНИРОВОК*/

.head-timetable {
	display: flex;
	justify-content: space-between;
}

.head-timetable span {
	font-weight: 700;
	font-size: 28px;
	line-height: 125%;
	margin-top: 46px;
}

/*Разметка нестандартной сетки.*/

.timetable {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.container-one {
	display: grid;
  	gap: 20px;
  	grid-template-columns: 1fr;
  	grid-template-rows: 250px 433px;
}

.container-two {
	display: grid;
  	gap: 20px;
  	grid-template-columns: 1fr;
  	grid-template-rows: 402px 281px;
}

.container-tree {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr;
	grid-template-rows: 309px 374px;
}

.day {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: transparent;
	border: 1px solid rgba(43, 53, 65, 0.3);
	box-sizing: border-box;
	cursor: pointer;
}

/*Стилизация нестандартной сетки.*/

.foto-timetable-body,
.foto-timetable-body img {
	width: 65px;
	height: 65px;
	margin-bottom: 40px;
}

.foto-timetable-jump,
.foto-timetable-jump img {
	width: 67px;
	height: 107px;
	margin-bottom: 40px;
}

.foto-timetable-bottle,
.foto-timetable-bottle img {
	width: 42px;
	height: 85px;
	margin-bottom: 40px;
}

.foto-timetable-heart,
.foto-timetable-heart img {
	width: 65px;
	height: 61px;
	margin-bottom: 40px;
}

.foto-timetable-dumbbell,
.foto-timetable-dumbbell img {
	width: 91px;
	height: 50px;
	margin-bottom: 40px;
}

.foto-timetable-weight,
.foto-timetable-weight img {
	width: 58px;
	height: 66px;
	margin-bottom: 40px;
}

.date-timetable {
	align-self: flex-end;
	color: rgba(1, 1, 1, 0.7);
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	padding-top: 20px;
    padding-right: 30px;
}

.data-active {
	color: rgba(43, 53, 65, 0.7);
}

.description-timetable {
	margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 25px;
    overflow: hidden;
}

.title-timetable {
	display: block;
	font-weight: 700;
	font-size: 18px;
	line-height: 125%;
	margin-bottom: 0px;
	transition: margin-bottom .6s cubic-bezier(.63, .21, 1, 1);
}

/*Выплывающее описание.*/

.day-active {
	border: none;
	background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);
	box-shadow: 0px 13px 30px rgba(186, 180, 69, 0.2);
}

.day-active > .description-timetable > .title-timetable {
	margin-bottom: 20px;
}

.day-active > .description-timetable > .description {
	opacity: 1;
    max-height: 300px;
}

.day:not(.day-active):hover {
	border-color: rgba(243, 243, 243, 0.5);
	background: rgba(243, 243, 243, 0.5);
	box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
}

.description {
	display: block;
	opacity: 1;
    max-height: 0px;
	overflow: hidden;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
    transition: max-height .6s ease-out;
}

.day:not(.day-active):hover .title-timetable {
    margin-bottom: 20px;
	transition: margin-bottom .2s ease-out;
}

.day:not(.day-active):hover .description {
    animation-name: show-description;
    animation-duration: .4s;
    max-height: 200px;
    opacity: 1;
}

@keyframes show-description {
	0% {
		opacity: .1;
	}
	30% {
		opacity: .3;
	}
	50% {
		opacity: .5;
	}
	70% {
		opacity: .6;
	}
	85% {
		opacity: .8;
	}
	100% {
		opacity: 1;
	}
}

/*РАССЫЛКА*/

.mailing {
	background-color: #F3F3F3;
	margin-top: 160px;
	padding-top: 47px;
	padding-bottom: 80px;
}

.mailing-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	z-index: 1;
}

.mailing-body h2::before {
	position: absolute;
    content: "";
    top: 15px;
    left: 242px;
    height: 53px;
    width: 53px;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    border-radius: 50%;
    z-index: -1;
}

/*Форма отправки E-mail*/

.js-mail {
	width: 372px;
	height: 65px;
	background: #FFFFFF;
	box-sizing: border-box;
	border: 1px solid #F3F3F3;
	outline: none;
	margin-right: 15px;
    margin-left: 15px;
    padding-left: 19px;
	cursor: pointer;
}

.error {
	border-color: #AE0303;
}

.js-mail:hover {
	background: #F3F3F3;
}

.js-mail::placeholder {
	color: #2B3541;
	opacity: 0.3;
	font-weight: 400;
	line-height: 150%;
	font-size: 18px;
}

.your-mail-btn {
	width: 225px;
	height: 65px;
	background: #FBF138;
	box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
	outline: none;
	border: none;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #2B3541;
	font-weight: 700;
	cursor: pointer;
	transition: 0.2s;
}

.your-mail-btn:hover {
	box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
	background: #2B3541;
	color: #FBF138;
}

.your-mail-btn:focus {
	box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
	background: #2B3541;
	color: #FBF138;
	transition: 0.2s;
}

/*Checkbox*/

.checkbox {
	display: block;
	margin-top: 11px;
	margin-left: 15px;
	padding-left: 24px;
	cursor: pointer;
}

.real-checkbox {
	position: absolute;
	appearance: none;
	width: 18px;
	height: 18px;
	margin-left: -22px;
}

.custom-checkbox {
	position: absolute;
	width: 18px;
	height: 18px;
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='16' height='16' stroke='%232B3541' stroke-width='2'/%3E%3C/svg%3E");
	margin-left: -22px;
	transition: .2s ease;
}

.real-checkbox:checked + .custom-checkbox {
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='18' height='18' fill='%232B3541'/%3E%3Cpath d='M1 9.51047L6.4791 15L17 4.48955L15.4896 3L6.4791 11.9999L2.48953 8.01042L1 9.51047Z' fill='white'/%3E%3C/svg%3E");
	transition: .2s ease;
	border: none;
}

.checkbox-description,
.checkbox-description a {
	color: rgba(43, 53, 65, 0.5);
	font-weight: 400;
	font-size: 11px;
	transition: .2s;
}

.error-checkbox {
	color: #AE0303;
}

.checkbox-description a:hover {
	color: #2B3541;
	transform: scale(1.2);
}

/*О КОМПАНИИ*/

.about-company {
	display: flex;
	justify-content: space-between;
	margin-top: 162px;
	margin-bottom: 64px;
}

.company-description {
	width: 483px;
}

.company-description h2 {
	margin-top: 0;
}

.company-description > p {
	margin-top: -18px;
	margin-bottom: 54px;
	color: #2B3541;
    font-size: 18px;
    line-height: 150%;
}

.sign-up-link {
	color: #2B3541;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	letter-spacing: 0.03em;
	text-decoration: none;
	text-transform: uppercase;
	padding: 21px 52px;
	background: #FBF138;
	box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
	transition: 0.2s;
}

.sign-up-link:hover {
	box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
	background: #2B3541;
	color: #FBF138;
	transform: scale(1.2);
}

.sign-up-link:focus {
	box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
	background: #2B3541;
	color: #FBF138;
	transition: 0.2s;
}

.promo-foto {
    position: relative;
	width: 581px;
	height: 336px;
	background-image: url(../img/trainer.png);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box-gradient {
	position: absolute;
	width: 100%;
    height: 100%;
	background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%);
}

.advantages-company {
	display: flex;
	justify-content: space-between;
	gap: 65px;
	margin-bottom: 152px;
}

.advantages-company-item {

}

.advantages-company-item h3 {
	font-weight: 700;
	color: #2B3541;
	font-size: 18px;
	line-height: 125%;
}

.advantages-company-item p {
	font-weight: 400;
	color: #2B3541;
	font-size: 18px;
	line-height: 150%;
	opacity: 0.6;
}

.advantages-company-item:first-child {
    flex-basis: 24.5%;
}

.advantages-company-item:nth-child(2) {
    flex-basis: 30%;
}



.advantages-company-item:nth-child(3) {
    flex-basis: 23%;
}



.advantages-company-item:last-child {
    flex-basis: 21.5%;
}

/*FOOTER*/

.footer-container {
	width: 100%;
	background: #F3F3F3;
	padding-top: 40px;
}

.footer {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-item {
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 55%;
}

.footer-nav {
	display: flex;
	color: #2B3541;
	gap: 58px;
	font-size: 18px;
	scroll-behavior: smooth;
}

.footer-nav li {
	list-style-type: none;
}

.footer-nav a {
    position: relative;
    text-decoration: none;
	color: #2B3541;
}

.footer-nav-item > ul > li > a:after {
	display: block;
	position: absolute;
	content: "";
	right: 0; 
	width: 0;
	height: 1px; 
	background-color: #2B3541; 
	transition: width 0.2s ease-out; 
}

.footer-nav-item > ul > li > a:hover:after,
.footer-nav-item  > ul > li > a:focus:after {
	width: 100%;
}

.footer-nav {
	display: flex;
	font-weight: 400;
	color: #2B3541;
	font-size: 14px;
	line-height: 150%;
    gap: 85px;
}

.footer-network {
	display: flex;
    align-items: center;
    width: 290px;
    height: 30px;
    gap: 27px;
}

.footer-mail {
	font-style: normal;
	font-weight: 700;
	color: #2B3541;
	text-decoration: none;
	font-size: 16px;
	line-height: 150%;
	margin-right: 35px;
	z-index: 1;
	position: relative;
}

.footer-mail::before {
	position: absolute;
    content: "";
    pointer-events: none;
    top: -10px;
    left: -18px;
    height: 25px;
    width: 25px;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    border-radius: 50%;
    z-index: -111;
}

.footer-network-social {
	display: flex;
	gap: 32px;
}

.footer-network-in {
	width: 27px;
	height: 27px;
	background-image: url(../img/in.svg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	transition: 0.5s;
	opacity: 0.8;
}

.footer-network-in:hover {
	transform: scale(1.3);
	opacity: 1;
}

.footer-network-fb {
	width: 27px;
	height: 27px;
	background-image: url(../img/fb.svg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	transition: 0.5s;
	opacity: 0.8;
}

.footer-network-fb:hover {
	transform: scale(1.3);
	opacity: 1;
}

.copyright-info {
	display: flex;
	align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-top: 22px;
    padding-bottom: 20px;
    color: rgba(43, 53, 65, 0.3);
}

.platform a {
	color: rgba(43, 53, 65, 0.3);
	text-decoration-line: underline;
	font-size: 14px;
	transition: .2s ease-out;
}

.platform a:hover {
	color: rgba(43, 53, 65, 1);
	transform: scale(1.2);
}

/*POPUP*/

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(43, 53, 63, .5);
	top: 0;
	left: 0;
	z-index: 555;
	opacity: 0;
	visibility: hidden;
	transition: all .8s ease 0s;
}

.popup:target {
	opacity: 1;
	visibility: visible;
}

.popup:target .popup_content {
	transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
	opacity: 1;
}

.popup_area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.popup_body {
	min-height: 100vh;	
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 15px;
}

.popup_content_wrapper {
	display: flex;
	align-self: center;
	flex-direction: column;
}

.popup_content {
	max-width: 600px;
	padding-bottom: 80px;
	background: #F3F3F3;
	position: relative;
	transition: all .8s ease 0s;
	opacity: 0;
	transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup_title {
	position: relative;
	text-align: center;
	color: #2B3541;
	padding: 42px 100px;
	z-index: 111;
}
.popup_close {
	width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 34px;
    right: 30px;
    z-index: 999;
}

.popup_title h1 {
	font-weight: 700;
	font-size: 28px;
	line-height: 125%;
}

.popup_title h1::before {
	position: absolute;
    content: "";
    top: 30px;
    left: 124px;
    height: 53px;
    width: 53px;
    background-color: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    border-radius: 50%;
    z-index: -9;
}

.popup_title span {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
}

.form-group {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 20px;
}

.js-mail-form {
	width: 500px;
	height: 65px;
	background: #FFFFFF;
	box-sizing: border-box;
	border: 1px solid #F3F3F3;
	outline: none;
	margin-right: 15px;
    margin-left: 15px;
    padding-left: 19px;
	cursor: pointer;
}

.js-phone {
	width: 500px;
	height: 65px;
	background: #FFFFFF;
	box-sizing: border-box;
	border: 1px solid #F3F3F3;
	outline: none;
	margin-right: 15px;
    margin-left: 15px;
    padding-left: 19px;
	cursor: pointer;
}

.js-phone::placeholder {
	color: #2B3541;
	opacity: 0.3;
	font-weight: 400;
	line-height: 150%;
	font-size: 18px;
}

.js-phone:hover {
	background: #F3F3F3;
}

.form-btn {
	width: 500px;
	height: 65px;
	margin-top: 40px;
	background: #FBF138;
	box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
	outline: none;
	border: none;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #2B3541;
	font-weight: 700;
	cursor: pointer;
	transition: 0.2s;
}

.form-btn:hover {
	box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
	background: #2B3541;
	color: #FBF138;
}

.form-btn:focus {
	box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
	background: #2B3541;
	color: #FBF138;
	transition: 0.2s;
}






















